:root {
    --major-color: #000000;
    --minor-color: #FFFFFF;
    --major-font: Raleway;
}

/* ===HEADER=== */
.header {
    /* background-color: rgb(161, 160, 159); */
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 13px;
    list-style: none;
}

.header__list-link {
    color: var(--major-color);
    font-size: 18px;
    text-underline-offset: 4px;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    justify-self: flex-end;
    padding-right: 41px;
    display: flex;
    flex-direction: column;
}

.address__item {
    display: block;
    color: var(--major-color);
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.address__link {
    text-underline-offset: 4px;
}


/* ===MAIN=== */



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/* --cover-- */

.cover {
    position: relative;
    margin-bottom: 180px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center center;
    padding: 35px 28px 35px 55px;
    min-height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 106px;
}

.cover__title {
    z-index: 1;
}

.cover__title-accent {
    display: block;
    font-size: 100px;
    color: var(--minor-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
}

.text-center {
    text-align: center;
    padding-bottom: 15px;
}

.text-end {
    text-align: right;
}

.text-start {
    padding-bottom: 20px;
}

.cover__description {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px 20px 0;
}

.cover__description-text {
    word-spacing: 17px;
    color: var(--minor-color);
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.cover__description-button {
    text-transform: uppercase;
    background: transparent;
    color: var(--minor-color);
    border: 1px solid var(--minor-color);
    min-height: 51px;
    min-width: 256px;
    font-size: 22px;
    font-family: var(--major-font);
    font-weight: 500;
}

/* --lots-- */

.lots {
    margin-bottom: 120px;
}

.lots__title {
    text-transform: uppercase;
    color: var(--major-color);
    padding: 0 0 27px 64px;
    font-size: 40px;
    font-weight: 700;

}

.lots__list {
    display: flex;
    gap: 25px;
    padding: 0 24px;
    list-style: none;
}

.lots__list-card {
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: aqua;
    width: 334px;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
}

.lots__first-card {
    background-image: url(/images/card-lot-01.jpg);
}

.lots__second-card {
    background-image: url(/images/card-lot-02.jpg);
}

.lots__third-card {
    background-image: url(/images/card-lot-03.jpg);
}

.lots__list-link {
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--minor-color);
    line-height: 120%;
}

.lots__list-article {
    z-index: 1;
    color: var(--minor-color);
    font-size: 20px;
    line-height: 120%;
}

.lots__link-more {
    display: inline-block;
    padding: 30px 0 0 40px;
    font-size: 20px;
}

/* --about-- */

.about {
    margin-bottom: 178px;
    display: grid;
    grid-template-columns: 334px 1fr;
}

.about_column-left {
    display: flex;
}

.about__logo-white {
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 45px;
    margin: 35px 72px 0 68px;
}

.about__column-right {
    padding-right: 24px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 136px 402px 100px 45px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 0 5px 50px;
}

.about__text p {
    line-height: 24px;
    font-size: 20px;
}

/* ===FOOTER=== */

.footer {
    display: flex;
    justify-content: space-between;
    min-height: 180px;
}

.footer__address {
    padding-left: 50px;
    line-height: 24.3px;
}

.footer__menu-list {
    list-style: none;

}

.footer__menu-item {
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__social-nets {
    display: flex;
    gap: 48px;
    padding-right: 48px;
}

.social-nets__link-img {
    width: 48px;
    height: 48px;
}